<!-- Start Footer -->
<style>
	/*
		height: 32pt + (24px + 12pt) + 14px * numLines + 
	*/

	.footer-container {
		grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
		grid-template-areas:
		". links links links ."
		". . legal . ."; 
		padding: 16pt;
		background-color: #226FC8;
	}
	.footer-container, .footer-container a {
		color: white;
		font-family: Arial, Helvetica, sans-serif;
	}
	.footer-container a {
		padding: 0pt 16pt;
	}
	.footer-container .links {
		grid-area: links;
		padding-bottom: 12pt;
	}
	.footer-container .legal {
		grid-area: legal;
	}
	.footer-container p {
		padding: 0px;
		margin: 0px;
		font-size: 14px;
	}
</style>
<div class="footer-container grid">
	<div class="links text-center">
		<a href="/vote/">Vote</a>
		<a href="/elections/">Results</a>
		<a href="/login/">Login</a>
	</div>
	<div class="legal text-center">
		<p>Outsourcers. All rights reserved.</p>
	</div>
</div>
<!-- End Footer -->
