<html>
	<head>
		<title>VA - Ballot</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/ballot.css' %}">
	</head>
	<body>
		{% include './components/header.html' %}

		<!-- Start Main Content -->
		<div class="main grid">
			
			<div class="ballot">
				<h2>You have <span id="time-left"></span> time left to finish voting</h2>
				<form method="POST" action="/submitVote/">
					{% for election in election_data %}
					<div class="ballot-section">
						<div class="ballot-header">
							{% if election.type == "main" %}
							<p class="text-48 italic light">{{election.name}}</p>
							{% else %}
							<p class="text-30 italic light">{{election.name}}</p>
							{% endif %}
							<hr>
						</div>
						{% for candidate in election.candidates %}
							<div class="ballot-option grid">
								<div class="radio-btn">
									<input type="radio" name={{election.id}} value={{candidate.id}}>
								</div>
								<div class="description">
									<h2>{{candidate.candidate}}</h2>
									{% if election.type == "main" %}
									<h3>{{candidate.running_mate}}</h3>
									{% endif %}
									
									<p>{{candidate.party}}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					{% endfor %}
					<div class="submit-section">
						<input type="submit" value="Vote">
					</div>
				</form>
			</div>
		</div>
		<!-- End Main Content -->

		{% include './components/footer.html' %}
		
	</body>
	<script>
		const addMinutes = function(date, minutes) {
			return new Date(new Date(date).getTime() + minutes*60000);
		}
		// Set the date we're counting down to
		var countDownDate = addMinutes(Date(), 5);
		countDownDate = countDownDate.getTime();
		// Update the count down every 1 second
		var x = setInterval(function() {
	
			// Get todays date and time
			var now = new Date().getTime();
			
			// Find the distance between now an the count down date
			var distance = countDownDate - now;
			
			// Time calculations for days, hours, minutes and seconds
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			
			// Output the result in an element with id="demo"
			document.getElementById("time-left").innerHTML = `${minutes}m ${seconds}s`;
			
			// If the count down is over, write some text 
			if (distance < 0) {
				clearInterval(x);
				window.location.replace(`/`);
			}
		}, 1000);
	</script>
</html>