<html>
	<head>
		<title>VA - Elections</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/elections.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}
		
		<div class="body">
			<div class="body-title">
				<p>Elections <span class="text-24 red-text">{{errorMessage}}</span></p>
			</div>
			<div class="body-contents">
				<ul class="tab-nav">
					<li value="open">Open</li>
					<li value="closed">Closed</li>
					<li value="future">Future</li>
					<li value="all">All</li>
				</ul>
				<div class="elections-section" id="open">
					{% for election in election_data.open %}
					<h1>{{election.name}}</h1>
						<div class="election">
							<p class="text-36">{{election.id}}</p>
							<p class="text-24 italic">Votes: <span class="green-text" id={{election.id}}>{{election.total_participants}}</span></p>
						
							<p class="text-16 italic">{{election.type}}</p>
						</div>
					{% endfor %}
				</div>
				<div class="elections-section" id="closed">
					{% for election in election_data.closed %}
						<h1>{{election.name}}</h1>
						<div class="election" >
							<p class="text-36">{{election.id}}</p>
							<p class="text-24 italic">Participants: <span class="red-text" >{{election.total_participants}}</span></p>
						
							<p class="text-16 italic">{{election.type}}</p>
							<p><a class="text-16 " href="/results/{{election.id}}" style="text-decoration: underline">View Results</a></p>
						
						</div>
					{% endfor %}
				</div>
				<div class="elections-section" id="future">
					{% for election in election_data.future %}
					<div class="election">
							<p class="text-36">{{election.name}}</p>
						
							<p class="text-16 italic">{{election.type}}</p>
							
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% include './components/footer.html' %}
		
	</body>
	<script>
		$(".tab-nav li").click(function() {
			console.log(this);
			const id = $(this).attr("value");
			
			if (id != "all") {
				$(".elections-section").css("display", "none");
				$(`#${id}`).css("display", "block");
				console.log({
					id: id,
					'#${id}': `#${id}`,
				});
			} else {
				$(".elections-section").css("display", "block");
			}
			
		});

		var i = 1;
		
		const increment = function(target, currentValue, growthRate) {
			console.log("runnign");
			let inc = Math.floor(Math.random() * 3);
			let value = $("#equifax-2018").text();
			$("#equifax-2018").text(Number(value) + inc);
		}

		var interval = setInterval(increment, 1000);
		document.addEventListener('contextmenu', event => event.preventDefault());
		$(document).keydown(function (event) {
    if (event.keyCode == 123) { // Prevent F12
        return false;
    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
        return false;
    }else if(event.keyCode==27){
		return false;
	}
});
	</script>
</html>
