<html>
	<head>
		<title>VA - Elections</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/elections.css' %}">
	</head>
	<body>
		{% include './components/header.html' %}

		<!-- Start Main Content -->
			<style>
				.main-content {
					grid-template-columns: 1fr min-content 1fr;
					grid-template-areas: ". main .";
				}
				.main {
				}
			</style>
			<div class="main-content grid">
				<div class="main">
					<div class="page-title">
						<p class="italic text-100 light text-center">Elections</p>
					</div>
					<ul class="tab-nav">
						<li value="open">Open</li>
						<li value="closed">Closed</li>
						<li value="future">Future</li>
						<li value="all">All</li>
					</ul>
					<div class="elections-section" id="open">
						{% for election in election_data.open %}
							<div class="election">
								<p class="text-36">{{election.name}}</p>
								<p class="text-24 italic">Votes: <span class="green-text" id={{election.id}}>{{election.total_votes}}</span></p>
							
								<p class="text-16 italic">{{election.type}}</p>
							</div>
						{% endfor %}
					</div>
					<div class="elections-section" id="closed">
						{% for election in election_data.closed %}
							<div class="election" >
								<p class="text-36">{{election.name}}</p>
								<p class="text-24 italic">Votes: <span class="red-text" >{{election.total_votes}}</span></p>
							
								<p class="text-16 italic">{{election.type}}</p>
								<p><a class="text-16 " href="/results/{{election.id}}" style="text-decoration: underline">View Results</a></p>
							
							</div>
						{% endfor %}
					</div>
					<div class="elections-section" id="future">
						{% for election in election_data.future %}
						<div class="election">
								<p class="text-36">{{election.name}}</p>
								<p><a class="text-16 " href="/locations/{{election.id}}" style="text-decoration: underline">Find Polling Locations</a></p>
							
								<p class="text-16 italic">{{election.type}}</p>
								
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		<!-- End Main Content -->

		{% include './components/footer.html' %}
		
	</body>
	<script>
		$(".tab-nav li").click(function() {
			console.log(this);
			const id = $(this).attr("value");
			
			if (id != "all") {
				$(".main .elections-section").css("display", "none");
				$(`#${id}`).css("display", "block");
				console.log({
					id: id,
					'#${id}': `#${id}`,
				});
			} else {
				$(".main .elections-section").css("display", "block");
			}
			
		});

		var i = 1;

		
		const increment = function(target, currentValue, growthRate) {
			console.log("runnign");
			let inc = Math.floor(Math.random() * 3);
			let value = $("#equifax-2018").text();
			$("#equifax-2018").text(Number(value) + inc);
		}

		var interval = setInterval(increment, 1000);




		
	</script>
</html>