<html>
	<head>
		<title>VA - Get Voter Serial Code</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/pollworkerDashboard.css' %}">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}
		<!-- Start Main Content -->
			<style>
				.main-content {
					grid-template-columns: 1fr 10fr 1fr;
					grid-template-areas: ". main .";
				}
			</style>
			<div class="main-content grid">
				get voter serial code

				<div class="form">
					<form method="POST" action="/getVoterSerialCode/">

						<input type="submit" value="Print Code">
					</form>
				</div>
			</div>
	</body>
</html>
