<html>
	<head>
		<title>VA - Board</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}
		<!-- Start Main Content -->
			<style>
				.main-content {
					grid-template-areas: "main";
				}
				.main {
					text-align: center;
					align-self: center;
				}
				.main p {
					font-size: 24px;
				}
			</style>
			<div class="main-content grid">
				<div class="main">
					<p>Next General Election: <span class="blue-text">November 6th, 2018</span></p>
					<p>Deadline to Register: <span class="red-text">October 15th, 2018</span></p>
				</div>
			</div>
		<!-- End Main Content -->

		{% include './components/footer.html' %}
		
	</body>
</html>