<html>
	<head>
		<title>VA - Home</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}

		<div class="body">
			<div class="body-title">
				<p>Home <span class="text-24 red-text">{{errorMessage}}</span></p>
			</div>
			<div class="body-contents">
				<p class="text-center text-18">Next General Election: <span class="blue-text">November 6th, 2018</span></p>
				<p class="text-center text-18">Deadline to Register: <span class="red-text">October 15th, 2018</span></p>
			</div>
		</div>

		{% include './components/footer.html' %}
		
	</body>
</html>
