<html>
	<head>
		<title>VA - Board</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
	</head>
	<body>
		<style>
			body {
				margin: 0px;
				padding: 0px;
			}
			a {
				text-decoration: none;
				font-size: 24px;
			}
			.center-text {
				text-align: center;
			}
			.grid {
				display: grid;
			}
			.red-text {
				color: #D0021B;
			}
			.blue-text {
				color: #226FC8;
			}
		</style>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}
		<!-- Start Main Content -->
		<div class="main grid">
			{{errorMessage}}
			<div class="form-container grid">
				<form method="POST" action="/login/" class="form login-form">
					{{form}}
					<div class="submit-bar">
						<input type="submit" value="Log In">
						<a href="#">Forgot your password?</a>
					</div>
				</form>
				<div class="alternate-option-block grid">
					<div class="question">
						<span>Don't have an account?</span>
					</div>
					<div class="action">
						<a href="/signup/" class="action-btn">Sign Up</a>
					</div>
				</div>
			</div>
		</div>

		<!-- End Main Content -->

		{% include './components/footer.html' %}

	</body>
</html>
