<html>
	<head>
		<title>VA - PW Dashboard</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/pollworkerDashboard.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}
		
		<div class="body">
			<div class="body-title">
				<p>Pollworker Dashboard <span class="text-24 red-text">{{errorMessage}}</span></p>
			</div>
			<div class="body-contents">
				<div class="search form" id="search">
					<div>
						<input placeholder="First Name"
							id="firstName"
							required>

					</div>
					<div>
						<input placeholder="Last Name"
							id="lastName"
							required>
					</div>
					<div>
						<input placeholder="Voter Number"
							id="voterNumber"
							required>
					</div>
					<div>
						<input type="submit" 
							id="searchVoter" 
							value="Search">
					</div>
				</div>
				<div class="results" id="results">

				</div>
			</div>
		</div>

		{% include './components/footer.html' %}
	</body>
	<script>
		$("#firstName, #lastName, #voterNumber").keydown(function (e) {
			if (e.keyCode == 13) {
				$('#searchVoter').click();
			}
		});
		$('#searchVoter').click(function() {
			
			const firstName = $('#firstName').val();
			const lastName = $('#lastName').val();
			const voterNumber = $('#voterNumber').val();

			const url = `{{website_url}}api/searchVoters/?
				firstName=${firstName}&
				lastName=${lastName}&
				voterNumber=${voterNumber}&
				precinctId=0405`;
			fetch(url, {
				cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
				credentials: 'same-origin', // include, same-origin, *omit
				headers: {
					'content-type': 'application/json'
				},
				method: 'GET', // *GET, POST, PUT, DELETE, etc.
				mode: 'cors', // no-cors, cors, *same-origin
				redirect: 'follow', // manual, *follow, error
				referrer: 'no-referrer', // *client, no-referrer
			}).then((response) => {
				return response.json();
			}).then((data) => {
				console.log('heres your respins');
				$('#results').empty();
				const voters = data.voters;
				voters.forEach((voter) => {
					let markup = `
						<div class='result'>
							<div class='voter-info'>
								<h1>${voter.first_name + ' ' + voter.last_name }</h1>
								<h3>First 4 Digits of VN: ${voter.voter_number.substring(0, 4)}</h3>
								
							</div>
							<div class="form gen-serial-code" voter_number=${voter.voter_number} election_id="${'2012-09'}">
								<input type="hidden" name="voter_number" value="${voter.voter_number}">
								<input type="hidden" name="election_id" value="${'2012-09'}">
								<input type="Submit" value="Get Serial Code" id="get-serial-code-btn">
							</div>
							<div class="response-result">
								
							</div>
							<div class="hr">
								<hr />
							</div>
						</div>
					`;
					$('#results').append(markup);
				});
				if (voters.length === 0) {
					$('#results').append(`
					<div class='result'>
							<div class='voter-info'>
								<h1>No results for search: </h1>
								<h3>First Name: ${firstName.length > 0 ? firstName : '""'}</h3>
								<h3>Last Name: ${lastName.length > 0 ? lastName : '""'}</h3>
								<h3>Voter Number: ${voterNumber.length > 0 ? voterNumber : '""'}</h3>
								
							</div>
							<div class="form gen-serial-code">
							</div>
							<div class="response-result">
								
							</div>
						</div>
					`);
				}
			});
			
		})

		$(document).on('click', '.gen-serial-code', function() {
			const voter_number = $(this).attr('voter_number');
			const election_id = $(this).attr('election_id');
			const _this = $(this).parent('.result');
			const url = `{{website_url}}getVoterSerialCode/?
				voter_number=${voter_number}&
				election_id=${election_id}&`;
			
			fetch(url, {
				cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
				credentials: 'same-origin', // include, same-origin, *omit
				headers: {
					'content-type': 'application/json'
				},
				method: 'GET', // *GET, POST, PUT, DELETE, etc.
				mode: 'cors', // no-cors, cors, *same-origin
				redirect: 'follow', // manual, *follow, error
				referrer: 'no-referrer', // *client, no-referrer
			}).then((response) => {
				return response.json();
			}).then((data) => {
				console.log({
					data: data
				});

				if (data.message === "Voter has already voted in this election") {
					
					$(_this).find('.response-result').append('<p class="error-code">User has already voted in this election.</p>');

				} else if (data.status === "200 - OK") {
					$(_this).find('#get-serial-code-btn').css({
						'background-color': '#82BF84'
					}).prop("disabled", true);
					$(_this).find('.response-result').append(`<p class="serial-code">Serial Code: ${data.serial_code}</p>`);
				}

			});
		})
	</script>
</html>
