<html>
	<head>
		<title>VA - Signup</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}

		<div class="body">
			<div class="body-title">
				<p>Signup <span class="text-24 red-text">{{errorMessage}}</span></p>
			</div>
			<div class="body-contents">
				<div class="form-container grid">
					<form method="POST" action="/signup/" class="form login-form">
						{% csrf_token %}
						{{form}}
						<div class="submit-bar">
							<input type="submit" value="Sign Up">
						</div>
					</form>
					<div class="alternate-option-block grid">
						<div class="question">
							<span>Already have an account?</span>
						</div>
						<div class="action">
							<a href="/login/" class="action-btn">Log In</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% include './components/footer.html' %}
		
	</body>
</html>