<html>
	<head>
		<title>VA - Vote</title>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
		<link rel="stylesheet" href="{% static 'css/vote.css' %}">
	</head>
	<body>
		{% if logged_on %}
			{% include './components/loggedInHeader.html' %}
		{% else %}
			{% include './components/header.html' %}
		{% endif %}

		<div class="body">

			<div class="body-title">
				<p>Vote <span class="text-24 red-text">{{errorMessage}}</span></p>
			</div>

			<div class="body-contents">
				<div class="grid ballot-form">
					{% if is_day_of %}
						<form method="POST" action="/vote/" class="form">
						{{form}}
						<input type="submit" value="Go To Ballot" id="submitForm">
						</form>
					{% else %}
						<div class="message">
							<p>Next General Election: <span class="blue-text">November 6th, 2018</span></p>
							<h1>Come back then and enter the serial code provided to you by your poll-worker.</h1>
						</div>
					{% endif %}
				</div>
			</div>

		</div>

		{% include './components/footer.html' %}
		
	</body>
	<script>

		const dayof = new Date("2018-11-06");
		const today = new Date("2018-11-06");
		$(document).ready(function() {
			console.log(window.location.pathname);
			$("#id_serial_code").focus();
			
		});
		$("#id_serial_code").on('input', function() {
			if ($(this).val().length === 13) {
				$("#submitForm").click();
			}
		});
		document.addEventListener('contextmenu', event => event.preventDefault());
		$(document).keydown(function (event) {
    if (event.keyCode == 123) { // Prevent F12
        return false;
    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
        return false;
    }else if(event.keyCode==27){
		return false;
	}
});




	</script>
</html>